<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ft.ftchinese">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Origami">

        <!-- WXPayEntryActivity does not need parent activity since that is useless. -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/title_wxpay"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxacddf1c20516eb69" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SearchableActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".ChannelActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_about_us"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".user.CredentialsActivity"
            android:label="@string/title_login_signup"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.ForgotPasswordActivity"
            android:label="@string/title_reset_password"
            android:parentActivityName=".user.CredentialsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.AccountActivity"
            android:label="@string/title_account"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.BindEmailActivity"
            android:label="@string/title_bind_email"
            android:parentActivityName=".user.AccountActivity" />
        <activity
            android:name=".user.AccountsMergeActivity"
            android:label="@string/title_merge_accounts"
            android:parentActivityName=".user.AccountActivity" />
        <activity
            android:name=".user.WxAccountActivity"
            android:label="@string/title_wx_account"
            android:parentActivityName=".user.AccountActivity" />
        <activity
            android:name=".user.UpdateAccountActivity"
            android:parentActivityName=".user.AccountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.SubscriptionActivity"
            android:label="@string/title_subscription"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.MyOrdersActivity"
            android:label="@string/title_my_orders"
            android:parentActivityName=".user.MySubsActivity" />
        <activity
            android:name=".user.MySubsActivity"
            android:label="@string/title_my_subs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.PaymentActivity"
            android:label="@string/title_payment"
            android:parentActivityName=".user.SubscriptionActivity" />

        <activity
            android:name=".user.RenewalActivity"
            android:label="@string/title_renewal"
            android:parentActivityName=".user.MySubsActivity"/>

    </application>

</manifest>