<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ft.ftchinese">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- For ExoPlayer download service -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".TestActivity"
            android:label="Test"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.launch.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.launch.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.channel.SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.launch.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.channel.ChannelActivity"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.article.ArticleActivity"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.article.AudioPlayerActivity"
            android:parentActivityName=".ui.article.ArticleActivity" />
        <activity
            android:name=".ui.article.WebViewActivity"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_login_signup"
            android:parentActivityName=".ui.launch.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:label="@string/title_forgot_password"
            android:parentActivityName=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.login.VerifyResetCodeActivity"
            android:label="@string/title_forgot_password"
            android:parentActivityName=".ui.login.ForgotPasswordActivity"/>
        <activity android:name=".ui.login.ResetPasswordActivity"
            android:label="@string/title_reset_password"
            android:parentActivityName=".ui.login.VerifyResetCodeActivity"/>
        <activity
            android:name=".ui.account.AccountActivity"
            android:label="@string/title_account"
            android:parentActivityName=".ui.launch.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.account.CustomerActivity"
            android:label="@string/title_stripe_setting"
            android:parentActivityName=".ui.account.AccountActivity" />
        <activity
            android:name=".ui.account.LinkFtcActivity"
            android:label="@string/title_link_email"
            android:parentActivityName=".ui.account.AccountActivity" />
        <activity
            android:name=".ui.account.LinkPreviewActivity"
            android:label="@string/title_merge_accounts"
            android:parentActivityName=".ui.account.AccountActivity" />
        <activity
            android:name=".ui.account.UnlinkActivity"
            android:label="@string/title_unlink"
            android:parentActivityName=".ui.account.WxInfoActivity" />
        <activity
            android:name=".ui.account.WxInfoActivity"
            android:label="@string/title_wx_account"
            android:parentActivityName=".ui.account.AccountActivity" />
        <activity
            android:name=".ui.account.UpdateActivity"
            android:parentActivityName=".ui.account.AccountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pay.MemberActivity"
            android:label="@string/title_my_subs"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.paywall.PaywallActivity"
            android:label="@string/title_subscription"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.pay.CheckOutActivity"
            android:label="@string/title_checkout"
            android:parentActivityName=".ui.paywall.PaywallActivity" />
        <activity
            android:name=".ui.pay.StripeSubActivity"
            android:label="@string/pay_method_stripe"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.pay.CheckOutActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stripe-post-authentication-return-url"
                    android:scheme="ftc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pay.MyOrdersActivity"
            android:label="@string/title_my_orders"
            android:parentActivityName=".ui.pay.MemberActivity" />
        <activity
            android:name=".ui.paywall.UpgradeActivity"
            android:label="@string/title_upgrade"
            android:parentActivityName=".ui.pay.MemberActivity" />
        <activity
            android:name=".ui.pay.UpgradePreviewActivity"
            android:label="@string/title_upgrade_preview"
            android:parentActivityName=".ui.pay.MemberActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/title_wxpay"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxacddf1c20516eb69" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.pay.LatestOrderActivity"
            android:label="@string/title_latest_order" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.launch.MainActivity" />
        <activity
            android:name=".ui.settings.FCMActivity"
            android:label="@string/fcm_setting_title"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.UpdateAppActivity"
            android:label="@string/pref_check_new_version"
            android:parentActivityName=".ui.settings.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ft.ftchinese.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.NewsMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/news_notification_channel_id" />
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.AudioDownloadService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AudioService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
